@import '../components/noteForm/NoteForm.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.note-table-header,
.summary-table-header {
    display: flex;
    background: silver;
}

.note-table-row,
.summary-table-row {
    display: flex;
    /*background: silver;*/
}

.note-table-column {
    display: flex;
    justify-content: center;
    width: calc((100% - 180px) / 5);
}

.column_set,
.column_archive,
.column_delete {
    width: 60px;
}

.summary-table-column {
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
}

.create-form {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.form-input-block {
    display: flex;
    width: 70%;
}

.form-input {
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
}

.create-button,
.save-button {
    width: 180px;
    height: 25px;
}

.create-button-wrap {
    display: flex;
    justify-content: flex-end;
}

.editForm {
    width: 1000px;
}