* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.note-table-header,
.summary-table-header {
    display: flex;
    background: silver;
}

.note-table-row {
    display: flex;
    /*background: silver;*/
}

.note-table-column {
    display: flex;
    justify-content: center;
    width: calc((100% - 180px) / 5);
}

.column_set,
.column_archive,
.column_delete {
    width: 60px;
}

.summary-table-column {
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
}